body {
    background-color: #1e1e1e;
    margin: unset;
}

h1 {
    font-family: nomal;
}

:root {
    font-family: 'airal';
}

.wood {
    width: 1304px;
    margin: 0 auto;
    border-color: red;

}

.wood-header {
    background-image: url(images/header-bg.png);
    padding: 100px 142px 0 142px;
}

.wood-header-contents {
    position: relative;
    overflow: hidden;
    margin: 0 auto;
    border-top: solid 30px #ffa500;
    border-right: solid 30px #ffa500;
    border-left: solid 30px #ffa500;
    width: 960px;
    height: 439px;
}

.wood-header-contents img {
    position: absolute;
    right: 0;
    bottom: -53px;
    padding-right: 54px;
}

.wood-header-contents h1 {
    color: #ffa500;
    padding: 60px 0 0 60px;
    letter-spacing: 7px;
}

.wood-header-contents h1::after {
    content: ' ';
    display: block;
    background-color: #ffa500;
    width: 373px;
    height: 4px;
    margin: 0;
    border-radius: 4px;
}

.wood-header-contents p {
    color: #ffa500;
    padding-left: 60px;
    font-size: 16px;
    line-height: 160%;
}

.wood-contents {
    background-color: red;
}
.wood-footer {
    background-color: blue;    
}