body {
    margin: 0 auto;
}

.wood {
    width: 1304px;
    margin: 0 auto;
    border-color: red;

}

.wood-header {
    background-image: url(images/header-bg.png);
    padding: 100px 142px 0 142px;
}

.wood-header-contents {
    margin: 0 auto;
    border-top: solid 30px #ffa500;
    border-right: solid 30px #ffa500;
    border-left: solid 30px #ffa500;
    width: 960px;
    height: 439px;
}
.wood-contents {
    box-shadow: inset 0 0 20px lightgreen;
}
.wood-footer {
    box-shadow: inset 0 0 20px plum;
}